<div>
    <% quantays.forEach(quantay => { %>
        <img height="300" width ="200" src=<%=quantay.anhsanphamPath%>>
        <button><%=quantay.ten%></button>
        <button><%=quantay.gia%></button>
        <br>
        <br>
      <% }) %>
</div>