<div>
    <% aosomis.forEach(aosomi => { %>
        <img height="300" width ="200" src=<%=aosomi.anhsanphamPath%>>
        <button><%=aosomi.ten%></button>
        <button><%=aosomi.gia%></button>
      <% }) %>
</div>