<div>
    <% aothuns.forEach(aothun => { %>
        <img height="300" width ="200" src=<%=aothun.anhsanphamPath%>>
        <button><%=aothun.ten%></button>
        <button><%=aothun.gia%></button>
      <% }) %>
</div>
